<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="container">
  <div class="row">
    <div class="col-6" *ngFor="let item of productList | async;">
    <div class="wrapper" >
        <div class="outer" >
          <img src={{item.productImagePath}}>
          <div class="content animated fadeInLeft">
            <span class="bg animated fadeInDown">{{item.productCategory}} </span>
            <h1>{{item.productName}}</h1>
            <p>{{item.productDescription}}</p>

            <div class="button">
              <a>{{item.productPrice}} Ft</a><a class="cart-btn" (click)="addToCart(item)"><i
                  class="-fa fa-shopping-basket"></i>ADD TO CART</a>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>





</div>
