<div class="p-10 bg-surface-secondary">
  <div class="mb-8 text-center">
    <h3 class="mb-2 text-warning">Follow us!</h3>
    <p><a href="#"><i class="fa fa-facebook follow-icons"></i></a></p>
    <p><a href="#"><i class="fa fa-twitter follow-icons"></i></a></p>
    <p><a href="#"><i class="fa fa-instagram follow-icons"></i></a></p>
  </div>
  <div class="mt-8 text-center">
    <a href="" class="text-warning">Further contact<i class="fa fa-arrow-right"></i></a>
  </div>
</div>

IDE VALAMI SLIDE